@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400,500");
@import url("https://fonts.googleapis.com/css?family=Inconsolata");

body{
  font-family: "IBM Plex Sans";
  margin: 0;
  background-color: #212529;
  color: white;
}

.navbar {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.5rem 0.5rem;
  background-color: black;
  color: #f2f2f2;
}

.navbar h1{
  margin-left: 3em;
  font-weight: bold;
  font-size: 2em;
  letter-spacing: 2px;
}

#red{
  color:red;
}

.container{
  max-width: 1300px;
  width: 90%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row{
  margin-top: 0.75em;
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.col-lg-4 , .col-lg-8 , .col-lg-12{
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 15px;
}

.logo{
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.instructions{
  text-align:start;
  font-family: "IBM Plex Sans";
}

.instructions h2{
  font-size: 3em;
  line-height: 3.5rem;
  font-weight: 500;
  padding-bottom: 0.25em;
  margin-bottom: 0;
  border-bottom: 1px solid;
}

.instructions p{
  font-style: normal;
  font-size: 21px;
  margin-left: auto;
  margin-right: auto;
}

.code{
  font-family:monospace;
}

pre{
  font-size: 2em;
  background: rgb(242, 242, 242) none repeat scroll 0% 0%;
}

ul{
  display: inline-flex;
  box-sizing: border-box;
  border: 1px solid #45464d;
  border-radius: 25px;
  padding:0;
  list-style: none;
}

li{
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a{
  text-decoration: dotted;
  color: #ffd152;
}

.cool{
  display: block;
  font-size: 1.4em;
  line-height: 2rem;
  letter-spacing: .15em;
  font-weight: 500;
}

.download{
  display: inline-flex;
  align-items: center;
  padding: .5em 1em;
  line-height: inherit;
  font-size: inherit;
  font-weight: 500;
  text-decoration: none;
  border-radius: 5px;
  color: #343233;
  background-color: #ffd152;
}

.octicon{
  display: block;
  width:16px;
  margin-right: 20px;
  height:16px;
  background: url("download.svg");
}

@media (min-width: 992px) {
  
  .instructions{
    margin-left: 0%;
  }

  .col-lg {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-lg-4 {
    -ms-flex: 0 0 31%;
    flex: 0 0 31%;
    max-width: 31%;
  }
  .col-lg-8 {
    justify-content: start;
    -ms-flex: 0 0 62%;
    flex: 0 0 62%;
    max-width: 66.666667%;
  }
  .col-lg-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  
}

@media (max-width: 602px){
  
  ul{
    flex-direction: column;
  }
}


