fastapi
uvicorn[standard]
gunicorn
jinja2
aiofiles
python-multipart
databases[sqlite]
python-jose
passlib[bcrypt]
motor
tornado
dnspython
pytest
ARgorithmToolkit >= 0.2.0
PyJWT
aioredis
prometheus-client
sendgrid