<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css" >
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/termynal.css">
    <title>ARgorithm</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-4" id="logo-panel">
                <img class="logo" src="/static/Logo_black.svg" alt="">
            </div>
            <div class="col-lg-8">
                <div class="instructions">
                    <h2>
                        ARgorithm <span id="red">Server</span> is running
                    </h2>
                    <p>
                        Connect to the server using the Toolkit and start making your ARgorithms.
                    </p>
                    <p>
                        If running toolkit on same machine as server just use the <span class="code">--local</span> option in the command
                        line arguments. If using toolkit on a different machine then on the command line use: 
                    </p>
                    <!-- ARgorithm configure
                    Enter server endpoint [http://localhost]:    
                    [SUCCESS]: CONNECTED
                    Cloud requests will now go to http://localhost -->
                    
                    <div id="termynal" data-termynal data-ty-typeDelay="40" data-ty-lineDelay="700">
                        <span data-ty="input">pip install ARgorithToolkit</span>
                        <span data-ty="progress"></span>
                        <span data-ty>Successfully installed ARgorithToolkit</span>
                        <span data-ty></span>
                        <span data-ty="input">ARgorithm configure</span>
                        <span data-ty="input" data-ty-prompt="Enter server endpoint :" id="server_ip">http://sample.com</span>
                        <span data-ty>[SUCCESS]: CONNECTED</span>
                        <span data-ty>Cloud requests will now go to <span id="server_ip_2">http://sample.com</span></span>
                        <a href="#" data-terminal-control="">restart ↻</a>
                    </div>
                    <p>
                        You can check out the routes <a href="/docs">here</a>
                    </p>
                    <script>
                        ip = window.location.href
                        if (ip.endsWith('/')) {
                            ip = ip.substr(0,ip.length-1)
                        }
                        document.getElementById('server_ip').innerText = ip
                        document.getElementById('server_ip_2').innerText = ip
                    </script>
                    <script src="/static/termynal.js" data-termynal-container="#termynal"></script>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul>
                    <li>
                        <span class="cool">SOURCE</span><br>
                        <a href="https://github.com/ARgorithm">Check out source</a>
                    </li>
                    <li>
                        <span class="cool">DOCUMENTATION</span><br>
                        <a href="https://argorithm.github.io/toolkit/">Read the docs</a>
                    </li>
                    <li>
                        <a class="download"><span class="octicon">
                        </span>Download<br>App</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>
