<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <link rel="shortcut icon" href="https://raw.githubusercontent.com/ARgorithm/Server/master/app/static/favicon.ico" type="image/x-icon">
    <title>ARgorithm</title>
</head>
<body>
    <!-- <nav class="navbar navbar-expand-lg">
        <h1>ARgorithm</h1>
    </nav> -->
    <nav class="navbar navbar-expand-lg">
        <h1><span id="red">AR</span>gorithm</h1>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-lg-4" id="logo-panel">
                <img class="logo" src="https://raw.githubusercontent.com/ARgorithm/Server/master/app/static/Logo_black.svg" alt="">
            </div>
            <div class="col-lg-8">
                <div class="instructions">
                    <h2>
                        ARgorithm <span id="red">Server</span> is running
                    </h2>
                    <p>
                        Connect to the server using the Toolkit and start making your ARgorithms.
                    </p>
                    <p>
                        If running toolkit on same machine as server just use the <span class="code">--local</span> option in the command
                        line arguments. If using toolkit on a different machine then on the command line use: 
                    </p>
                        <pre>$ ARgorithm configure</pre> 
                    <p>
                    and then copy the url of this page and paste it there. The same URL should be added as server endpoint in mobile application.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul>
                    <li>
                        <span class="cool">SOURCE</span><br>
                        <a href="https://github.com/ARgorithm">Check out source</a>
                    </li>
                    <li>
                        <span class="cool">DOCUMENTATION</span><br>
                        <a href="https://argorithmtoolkit.readthedocs.io/en/latest/">Read the docs</a>
                    </li>
                    <li>
                        <a class="download"><span class="octicon">
                        </span>Download<br>App</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>